<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="tel" placeholder="Id del canal" ng-model="searchBy.channelId" />
        </label>
        <button class="button button-small" ng-click="searchBy()">
          Buscar
        </button>
      </div>

      <div ng-if="playlist" class="item item-divider">Tu playlists</div>
      <div ng-if="playlist" class="list">
        <a class="item item-thumbnail-left" ng-click="showMedia()">
          <img src="img/logo.png">
          <h2>{{playlist.name}}</h2>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>

